<div class="container">
  <div class="row">
    <div class="col-xs-3">
    <h2>User info</h2>

    <% if current_user.image_id == nil %>
    <%= image_tag 'no_image.jpg' %>
    <% else %>
    <%= attachment_image_tag current_user, :image, :fill, 100, 100 %>
    <% end %>

    <table class="table">
      <tbody>
        <tr>
          <th>name</th>
          <th><%= current_user.name %></th>
        </tr>
        <tr>
          <th>introduction</th>
          <th><%= current_user.introduction %></th>
        </tr>
      </tbody>
    </table>

    <div class="row">
    <%= link_to '',edit_user_path(current_user),class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
    </div>

    <h2>New book</h2>

    <%= form_for(@post) do |f| %>

    <div class="field row">
      <%= f.label :Title %>
      <%= f.text_field :title, class: "col-xs-12" %>
    </div>

    <div class="field row">
      <%= f.label :Opinion %>
      <%= f.text_area :opinion, class: "col-xs-12" %>
    </div>

    <div class="action row" >
    <%= f.submit value: "Create Book", class: "btn btn-primary col-xs-12" %>
    </div>

    <% end %>

    </div>
  <div class="col-xs-9">
  <h2>Books</h2>
  <table class="table">
    <thead>
      <tr>
        <th>
        </th>
        <th>
            Title
        </th>
        <th>
          Opinion
        </th>
      </tr>
    </thead>
    <% @posts.each do |post| %>
        <tbody>
          <tr>
            <td>
            <%= link_to user_path(post.user) do %>
                <%= image_tag 'no_image.jpg', size: '40x40' %>
            <% end %>
            </td>
            <td>
              <%= link_to post.title, post_path(post) %>
            </td>
            <td>
              <%= post.opinion %>
            </td>
          </tr>
        </tbody>
    <% end %>
  </table>
  </div>
</div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-3 col-xs-offset-9">
        <p>CopyRight Infratop.inc</p>
      </div>
    </div>
  </div>
</footer>








